<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content=""/>
    <meta name="description" content="芒芒APP通过商业广告和调研为用户搭建线上社交收益社群将用户引流到签约实体商户消费芒芒与签约商户直接进行结算，实现整个商业周期互利互惠的目的。"/>
    <meta name="author" content="杭州微宣信息科技有限公司" />
    <title>&nbsp;芒芒 - 你的时间我买单</title>
    <link rel="stylesheet" href="../../assets/css/appCss.css">
    <link rel="shortcut icon" href="../..//assets/Plugins/bitbug_favicon.ico"/>
    <!--[if IE]>
    <script type="text/javascript" src="../../assets/Plugins/jquery-1.7.js"></script>
    <![endif]-->

    <!--[if !IE]><!-->
    <script type="text/javascript" src="../../assets/Plugins/jquery.js"></script>
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <script>(function (tags) {
        for (var i = 0; i < tags.length; i++)document.createElement(tags[i]);
    })(["article", "aside", "details", "figcaption", "figure", "footer", "header", "hgroup", "nav", "section", "menu", "video"]);</script>
    <![endif]-->
</head>
<body>
<header class="header-wrapper headerFiexd">
    <div class="container">
        <nav class="header-nav">
            <div class="header-mm-logo">
                <div class="header-img">
                    <i class="icon_header-logo"></i>
                </div>
                <div class="header-title">
                    <h2>芒芒</h2>
                    <span>玩转广告&nbsp;为你买单</span>
                </div>
            </div>
            <ul id="nav-toggle" class="header-ul-list">
                <li><a href="../../index.html">首页</a></li>
                <li><a class="active" href="javascript:void(0);">芒芒产品</a></li>
                <li><a href="../blanketContract/index.html">广告合作</a></li>
                <li><a href="javascript:void(0);" data-moduleid="aboutUs">关于我们</a></li>
                <li><a href="javascript:void(0);">注册登录</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="body-wrapper">
    <div class="jumbotron child-page-bgColor-One">
        <div class="container tianjia">
            <div class="row">
                <div class="child-page-img">
                    <img src="../../assets/images/child-img-01.png"/>
                </div>
                <div class="child-page-text">
                    <div class="child-text-box child-pag-float-left text-left">
                        <h2>轻轻一点&nbsp;点时成金</h2>
                        <p>浏览、分享收益无限</p>
                        <p>月入三千是不是梦</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron child-page-bgColor-Two">
        <div class="container tianjia">
            <div class="row">
                <div class="child-page-text">
                    <div class="child-text-box child-pag-float-right text-right child-page-textAlign-left">
                        <h2>红包等你&nbsp;好玩又省钱</h2>
                        <p>各种红包优惠券</p>
                        <p>随领随用无限制</p>
                    </div>
                </div>
                <div class="child-page-img">
                    <img src="../../assets/images/child-img-02.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron child-page-bgColor-One">
        <div class="container tianjia">
            <div class="row">
                <div class="child-page-img">
                    <img src="../../assets/images/child-img-03.png"/>
                </div>
                <div class="child-page-text">
                    <div class="child-text-box child-pag-float-left text-left child-page-textAlign-left">
                        <h2>吃喝玩乐&nbsp;应有尽有</h2>
                        <p>品质商品推荐</p>
                        <p>多种便利的生活娱乐方式</p>
                        <p>你消费我买单</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron child-page-bgColor-Two">
        <div class="container tianjia">
            <div class="row">
                <div class="child-page-text">
                    <div class="child-text-box child-pag-float-right child-page-textAlign-left text-right">
                        <h2>平台专属&nbsp;游戏特权</h2>
                        <p>尊贵用户游戏领先玩</p>
                        <p>专属便利充值更优惠</p>
                    </div>
                </div>
                <div class="child-page-img">
                    <img src="../../assets/images/child-img-04.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="aboutUs" class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="footer-details footer-table-lr">
                <div class="footer-details-table">
                    <div class="table-row-group">
                        <div class="table-cell">公司名称&nbsp;Company：浙江微宣信息科技有限公司</div>
                        <div class="table-cell">邮箱&nbsp;Email:MediaDigital@my3dparts.com</div>
                    </div>
                    <div class="table-row-group">
                        <div class="table-cell">产品名称&nbsp;Product：芒芒APP(隶属微宣科技)</div>
                        <div class="table-cell">电话：0571-56716339</div>
                    </div>
                    <div class="table-row-group">
                        <div class="table-cell clearPbottom">地址&nbsp;Address：杭州市滨江区西兴街道江陵路2028号星耀城一幢24楼</div>
                    </div>
                </div>
                <div class="footer-details-lx">联系我们</div>
            </div>
            <div class="footer-logo">
                <ul>
                    <li><i class="icon-weiBo"></i></li>
                    <li><i class="icon-weiXin"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="../../assets/js/assets.js"></script>
<script src="../../assets/js/app.js"></script>
</body>
</html>